* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
}

.link {
  color: black;
  text-decoration: none;
  transition: color 0.3s;
}
.link:hover {
  color: #ff976b;
}
.header {
  color: #000000;
  background-color: #ffffff;
  background-image: url("/images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  padding: 30px 80px 40px;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 105px;
  height: 39px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  font-weight: 500;
}

.header-title {
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  max-width: 709px;
  margin-top: 183px;
}

.span-accent {
  font-family: "Times New Roman";
  color: #ff976b;
  font-style: italic;
}

h1 span {
  display: block;
}

.header-description {
  max-width: 683px;
  margin-top: 28px;
  font-size: 20px;
  line-height: 30px;
}

p span {
  display: block;
}

.header-image {
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
  position: absolute;
}

.header-info {
  display: flex;
  margin-top: auto;
  justify-content: space-between;
  font-weight: 500;
  color: #6f6f6f;
}

.header-hours {
  margin-top: auto;
}

.info-text {
  display: flex;
  align-items: flex-end;
}

/* RESERVATION*/

.reservation__title {
  padding-top: 100px;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.reservation {
  background-color: #ffd6c5;
  background-image: url(/images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  padding: 100px 80px 120px;
}
.form__label {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
}
.form__input {
  border-radius: 4px;
  border-color: #838383;
  height: 60px;
  margin-bottom: 32px;
  padding: 15px 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
}
.form-input::placeholder {
  color: #838383;
}
.form__checkbox {
  border-radius: 2px;
  border-color: #4f4f4f;
  flex-direction: row;
  height: 20px;
  width: 20px;
}
.reservation__form {
  margin: 0 auto;
  max-width: 385px;
  margin-top: 80px;
}
.form__button {
  height: 60px;
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #f2f2f2;
  background-color: #e96e3a;
  border-radius: 4px;
  margin-bottom: 32px;
  transition: color 0.3s ease;
}
.form__button:hover {
  opacity: 70%;
}
.form__label_type_checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.form__fieldset {
  border: none;
  padding: 0%;
}

/*FOOTER*/

.footer {
  background-color: #d35722;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  padding: 60px 80px;
}
.footer__logo {
  width: 105px;
  height: 39px;
}
.footer__content {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position: relative;
}
.circle {
  width: 340px;
  height: 340px;
  background-color: #e96e3a;
  border-radius: 50%;
  position: absolute;
  left: -44px;
  top: -128px;
  z-index: 0;
}

.footer__sign {
  color: white;
  font-family: “Inter”;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-top: 108px;
}
.footer__nav-links {
  flex-direction: column;
  display: flex;
  gap: 16px;
  font-weight: 500;
  list-style: none;
}
.footer__nav-links_a {
  font-family: “Inter”;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  transition: color 0.3s;
}
.footer__nav-links_a:hover {
  color: #ffd6c5;
}
.footer__social-head {
  margin-bottom: 20px;
  font-family: “Inter”;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}
.footer__social-icons {
  color: #f2f2f2;
}
